<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <div *ngFor="let key of getKeys()">
      <lib-dynamic-field [key]="key" [field]="form[key]" [formGroup]="formGroup"></lib-dynamic-field>
  </div>
  <lib-dynamic-button [buttonText]="buttonText" [disabled]="formGroup.invalid" [type]="'submit'"></lib-dynamic-button>
</form>
