<mat-form-field appearance="outline" [formGroup]="formGroup">
  <mat-label>{{name}}</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [id]="key" [formControlName]="key">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  <mat-error>
    <div>{{error}}</div>
  </mat-error>
</mat-form-field>
