.card {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

  mat-card-title{
    margin-top: 10px;
  }

  form {
    margin-top: 30px;

    .full-width {
      width: 100%;
    }
  }

  mat-card-actions{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
