<mat-card class="card">
  <mat-card-title>Login</mat-card-title>
  <lib-ngx-form-generator [form]="form" [buttonText]="'Login'" (onEndFilling)="login($event)"></lib-ngx-form-generator>
  <a [routerLink]="'/registration'">Registration</a>
</mat-card>

