<mat-form-field appearance="outline" [formGroup]="formGroup">
  <mat-label>{{name}}</mat-label>
  <input matInput [id]="key" [value]="value ?? null" [formControlName]="key">
  <mat-error *ngIf="formGroup.controls[key].invalid && formGroup.controls[key].touched">
    <div>{{error}}</div>
  </mat-error>
</mat-form-field>
