.chat-container{
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages-container{
    height: 100%;

    .message{
      background-color: white;
      border-radius: 5px;
      padding: 1em;
    }

    .me{
      margin: 1.25em 1.25em 1.25em 7.25em;
    }

    .other{
      margin: 1.25em 7.25em 1.25em 1.25em;
    }
  }

  .write-container{
    box-sizing: border-box;
    padding-top: 1.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;

    button {
      width: 100px;
      margin-left: 0.25em;
      margin-top: 0.25em;
      margin-bottom: 1.59375em;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
