<div class="chat-container" *ngIf="id">
  <div class="messages-container">
    <div *ngFor="let message of messages">
      <div *ngIf="message.isMe; else elseBlock" class="message me">
        {{message.text}}
      </div>
      <ng-template #elseBlock>
        <div class="message other">
          {{message.text}}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="write-container">
    <mat-form-field appearance="outline">
      <mat-label>Text</mat-label>
      <input #textField matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="send()">Send</button>
  </div>
</div>
