<mat-card class="card">
  <mat-card-title>Registration</mat-card-title>
  <lib-ngx-form-generator [form]="form" [buttonText]="'Register'" (onEndFilling)="register($event)"></lib-ngx-form-generator>
</mat-card>
