.users-container{
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  .search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
      width: 100px;
      margin-left: 0.25em;
      margin-top: 0.25em;
      margin-bottom: 1.59375em;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
