<div class="users-container">
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input #searchField matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Search</button>
  </div>
  <hr>
  <div>
    <mat-selection-list [multiple]="false" (selectionChange)="selectionChange($event)">
      <mat-list-option *ngFor="let chat of chats" [value]="chat.id">
        {{chat.email}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
